body {
  background: #202020;
  /*!page_container_bgcolor*/
  font-family: 'Avenir', sans-serif; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

p, ul li {
  color: #d8d8d8; }

ul, li {
  list-style-type: none; }

a, a:visited {
  color: #d8d8d8;
  text-decoration: none; }

a:hover {
  border: none;
  color: #e25757;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer; }

#bio {
  width: 43%;
  font-size: 0.9em;
  padding-left: 3em;
  padding-top: 0;
  display: inline-block;
  vertical-align: top;
  padding-top: 10em; }

#performances {
  font-size: 0.85em;
  padding-top: 4em;
  width: 47%;
  display: inline-block;
  padding-left: 4em; }

#home, #left, #right {
  position: fixed;
  color: white;
  text-decoration: none;
  width: 20px;
  height: auto; }

#home {
  left: 10em;
  top: 10em; }

#left, #right {
  top: 20em; }

#left {
  left: 10em; }

#right {
  left: 15em; }

#page-bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed; }

#page {
  margin-top: 90vh;
  width: 45%;
  margin-left: 30%; }
  #page h1, #page h2 {
    color: grey;
    font-size: 1.3em;
    padding: 0;
    margin: 0.5em; }
  #page p {
    font-size: 1em;
    margin: 0.5em; }
  #page a {
    font-size: 1.4em;
    margin: 0.5em; }
  #page #sound, #page #video {
    margin-top: 100px;
    width: 100%; }
  #page #video {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0; }
  #page #video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #page #sound:last-child {
    padding-bottom: 100vh; }

@media (max-width: 768px) {
  div {
    padding: 0;
    margin: 0; }
  ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0; }
  #bio, #performances {
    width: 100%;
    display: block;
    padding: 0;
    margin-top: 4em; }
  #bio {
    margin-top: 3em; }
  #performances {
    margin-bottom: 3em; }
  body {
    padding: 20px; }
  #page {
    margin-top: 100vh;
    margin-left: 0;
    width: 100%; }
    #page h1, #page h2, #page p {
      color: #d8d8d8; }
    #page h1, #page h2 {
      font-size: 2em; }
    #page p {
      font-size: 1.9em; }
    #page #sound:last-child {
      padding-bottom: 30vh; }
  #left, #right, #home {
    position: absolute;
    width: 10px; } }

@media (max-width: 668px) {
  div#bio, div#performances {
    font-size: 0.8em; }
  #bio, #performances {
    margin-top: 2em; } }
